In [2]:
!pip install tweepy

Requirement already satisfied: tweepy in /Users/yogeeswar/opt/anaconda3/lib/python3.9/site-packages (4.9.0)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /Users/yogeeswar/opt/anaconda3/lib/python3.9/site-packages (from tweepy) (1.3.1)
Requirement already satisfied: requests<3,>=2.27.0 in /Users/yogeeswar/opt/anaconda3/lib/python3.9/site-packages (from tweepy) (2.27.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /Users/yogeeswar/opt/anaconda3/lib/python3.9/site-packages (from tweepy) (3.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/yogeeswar/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.27.0->tweepy) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/yogeeswar/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.27.0->tweepy) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/yogeeswar/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.27.0->tweepy) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/yogeeswar/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.27.0->tweepy) (3.2)

In [3]:
import tweepy
import pandas as pd
import configparser

In [4]:
config = configparser.ConfigParser()
config.read("./config.ini")

['./config.ini']

In [5]:
api_key = config['twitter']['api_key']
api_key_secret = config['twitter']['api_key_secret']

access_token = config['twitter']['access_token']
access_token_secret = config['twitter']['access_token_secret']

In [6]:
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)

In [7]:
api = tweepy.API(auth)

In [8]:
#public_tweets = api.home_timeline(tweet_mode='extended')
#print(public_tweets)

columns = ['Time', 'Tweet']
data = []

for tweet in public_tweets:
    data.append([tweet.created_at, tweet.user.screen_name, tweet.full_text])

    print("TWEETED AT: ", tweet.created_at)
    print(tweet.full_text)
    print("=================================================")
    
df = pd.DataFrame(data, columns = columns)
df.to_csv('./tweets.csv')

TWEETED AT:  2022-05-16 16:00:48+00:00
TWEETED BY:  BBCWorld
Johnny Depp hit me on honeymoon, says Amber Heard https://t.co/lMdB55pVpf
=================================================
TWEETED AT:  2022-05-16 16:00:11+00:00
TWEETED BY:  the_hindu
#Toyota has added a new GR-S variant to its SUV India lineup. Priced at ₹ 48.43 lakh, the Fortuner GR-S gets stylistic differences and a GR-tuned suspension system.
https://t.co/zuvLbeJsHo
=================================================
TWEETED AT:  2022-05-16 15:50:02+00:00
TWEETED BY:  the_hindu
#Data | According to NFHS-5 survey, about 18% of married women said they cannot say ‘no’ to their husbands even if they did not want to have sexual intercourse, report @VigneshJourno @RebeccaRoseVar1
https://t.co/wIZKtFEU4l
=================================================
TWEETED AT:  2022-05-16 15:49:10+00:00
TWEETED BY:  rashtrapatibhvn
President Ram Nath Kovind laid a wreath at Marcus Garvey Shrine in Kingston, Jamaica. https://t.co/5GvWveNK8Z
=================================================
TWEETED AT:  2022-05-16 15:40:03+00:00
TWEETED BY:  the_hindu
In a plush, tree-lined bylane of Alwarpet, sits a little corner mess, Meen Satti, where you can have unlimited portions of rice, dried fish sambal, meen kuzhambu, chicken curry, rasam, sambar, kootu and poriyal for just ₹160.
https://t.co/jS3WpWA7BJ
=================================================
TWEETED AT:  2022-05-16 15:30:12+00:00
TWEETED BY:  the_hindu
The #IndianArmy's Eastern command chief said #China's People's Liberation Army (#PLA) is engaged in infrastructure capacity enhancement across the international border in #ArunachalPradesh.
https://t.co/5yw7Hhm0M5
=================================================
TWEETED AT:  2022-05-16 15:24:04+00:00
TWEETED BY:  BBCWorld
UK judges refuse to ban death penalty in Trinidad and Tobago https://t.co/Im8Pa7mVs8
=================================================
TWEETED AT:  2022-05-16 15:20:05+00:00
TWEETED BY:  the_hindu
#Lebanon's militant Hezbollah group and its allies appear to have suffered losses in Parliamentary elections with preliminary results showing their strongest opponents picking up more seats and some of their traditional partners routed out of legislature.
https://t.co/zhIcHhAn10
=================================================
TWEETED AT:  2022-05-16 15:10:04+00:00
TWEETED BY:  the_hindu
It was in 2015 that the then 12-year-old G Roshan first laid eyes on a custom vintage motorcycle at an auto show in Udhagamandalam. “My interest in designing my own miniature motorcycles and cars stems from that,” says Roshan. | @ThinBrownDuke26
https://t.co/b3U8Y1rU6D
=================================================
TWEETED AT:  2022-05-16 14:59:07+00:00
TWEETED BY:  BBCWorld
Who is Somalia's new leader Hassan Sheikh Mohamud? https://t.co/maTUJk77A6
=================================================
TWEETED AT:  2022-05-16 14:40:06+00:00
TWEETED BY:  the_hindu
45-year-old Mamta, one of the survivors of the #Mundka fire, has no time to grieve as another pressing worry on her mind is to feed her family of nine who is entirely dependent on her. Malti, another survivor, said it is difficult to find work.
https://t.co/gUK3jzXQhu
=================================================
TWEETED AT:  2022-05-16 14:35:06+00:00
TWEETED BY:  BBCWorld
Goldman Sachs to offer senior staff unlimited holiday https://t.co/f2QQ94C9UJ
=================================================
TWEETED AT:  2022-05-16 14:30:11+00:00
TWEETED BY:  the_hindu
“Two people were killed and three more were taken to a hospital with injuries after a shooting on May 15 at a bustling Houston flea market,” authorities said.
https://t.co/NRD40NPWIF
=================================================
TWEETED AT:  2022-05-16 14:20:03+00:00
TWEETED BY:  the_hindu
Benchmark indices #Sensex and #Nifty ended their six-day losing run on Monday on the back of buying in banking, auto and power stocks amid mixed trends in global equities.
https://t.co/1bbDGBBO3N
=================================================
TWEETED AT:  2022-05-16 14:14:18+00:00
TWEETED BY:  TNCoronaUpdate
#TamilNadu | #COVID19 | 16 May 2022

Today/Total - 31 / 34,54,652
Active Cases - 332
Discharged Today/Total - 58 / 34,16,295
Death Today/Total - 0 /  38,025
Samples Tested Today/Total - 13,149 / 6,64,17,654@
Test Positivity Rate (TPR) - 0.2%

#TNCoronaUpdate #TN https://t.co/vawBz0Mfnr
=================================================
TWEETED AT:  2022-05-16 14:13:03+00:00
TWEETED BY:  BBCWorld
Matriarch accused of leading Honduras drug clan captured https://t.co/846z5qBn71
=================================================
TWEETED AT:  2022-05-16 14:11:29+00:00
TWEETED BY:  TNCoronaUpdate
#TamilNadu | #COVID19 | 16 May 2022

District Wise  Data

#TNCoronaUpdates #coronavirus https://t.co/CUyF2AqOoM
=================================================
TWEETED AT:  2022-05-16 14:10:11+00:00
TWEETED BY:  TNCoronaUpdate
#BedsforTN

#COVID19 Bed Vacancy Details In CHC / CDH / CCC as On (16.05.2022)

#TamilNadu  #TNCoronaUpdate https://t.co/96rT9U9UnI
=================================================
TWEETED AT:  2022-05-16 14:10:04+00:00
TWEETED BY:  the_hindu
More than three decades after it became the first American fast food restaurant to open in the Soviet Union, #McDonald’s said that it has started the process of selling its business in #Russia, as the country continues its war in #Ukraine.
https://t.co/7EY2Tp5exs
=================================================
TWEETED AT:  2022-05-16 14:09:44+00:00
TWEETED BY:  TNCoronaUpdate
#TamilNadu District Wise Positivity Rate as per RT-PCR Monitoring report as on 15.05.2022

#TNCoronaUpdate https://t.co/ksmSIFvw9V
=================================================